/* css/style.css */
body { transition: background-color 0.3s, color 0.3s; }

.ping { animation: ping 1.5s cubic-bezier(0, 0, 0.2, 1) infinite; }
@keyframes ping {
  75%, 100% { transform: scale(1.5); opacity: 0; }
}

.custom-scroll::-webkit-scrollbar { width: 4px; }
.custom-scroll::-webkit-scrollbar-track { background: transparent; }
.custom-scroll::-webkit-scrollbar-thumb { background-color: #cbd5e1; border-radius: 20px; }
.dark .custom-scroll::-webkit-scrollbar-thumb { background-color: #4b5563; }

/* Анимация аккордеона */
.accordion-content {
    transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
    max-height: 500px;
    opacity: 1;
    overflow: hidden;
}
.accordion-content.collapsed {
    max-height: 0;
    opacity: 0;
}
.rotate-icon {
    transition: transform 0.3s;
}
.rotate-icon.collapsed {
    transform: rotate(-90deg);
}